*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dadContainer{
  background-color: rgb(20, 20, 20);
}

/*--------NavBar--------*/

.space{
  padding-top: 59px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: rgb(30, 30, 30);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 9999;
  box-shadow: 0px 0px 7px rgb(36, 36, 36);
}

nav .ul-desktop{
  flex: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
}

.ul-desktop li{
  list-style: none;
  transition: .7s;
}

.ul-desktop li a{
  text-decoration: none;
  color: white;
  font-size: .9rem;
  opacity: .5;
}

.ul-desktop li a:hover{
  opacity: 1;
  color: white;
}

.ul-desktop li a:active{
  opacity: 1;
  color: white;
}

.ul-desktop li a:visited{
  opacity: 1;
  color: white;
}

.logo{
  flex: 25%;
  margin-left: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.logo img{
  width: 120px;
}

.btn-menu{
  display: none;
}

.menu{
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  z-index: 1;
  border: 1px solid rgb(40, 40, 40);
  box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
  padding: 1rem;
  background-color: rgb(40, 40, 40);
}

.menu li{
  list-style: none;
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .5rem 0rem;
}

.menu li a{
  text-decoration: none;
  color: white;
  font-size: .9rem;
  opacity: .5;
}

.menu li a:hover{
  opacity: 1;
  color: white;
}

.menu li a:active{
  opacity: 1;
  color: white;
}

.menu li a:visited{
  opacity: 1;
  color: white;
}

/*--------Consulta--------*/

.padin{
  margin-top: 1rem;
}

.textoConsulta{
  margin: 1rem 0rem 0rem;
  color: white;
}

.consulta{
  flex: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputConsultaText{
  width: 350px;
  outline: none;
  background-color: #383838;
  border-radius: .2rem;
  border: none;
  padding: .3rem;
  color: white;
}

.inputConsultaEmail{
  width: 350px;
  outline: none;
  background-color: #383838;
  border-radius: .2rem;
  border: none;
  padding: .3rem;
  color: white;
}

.consultasBackendContainer{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.consultasBackend{
  background-color: #383838;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3rem 0rem;
  padding: 1rem 0rem;
  text-align: center;
  border-radius: .1rem;
}


.flexWidth2{
  color: white;
  padding: 0rem 1rem;
  flex: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flexWidth3{
  color: white;
  padding: 0rem 1rem;
  flex: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flexWidth{
  color: white;
  padding: 0rem 1rem;
  flex: 70%;
}

.inputConsultaBtn{
  width: 6rem;
  height: 2.3rem;
  outline: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: .2rem;
  border: 1px solid rgb(0, 0, 0);
  margin: 0rem 1rem;
  transition: .4s;
}

.inputConsultaBtn:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.visto{
  margin: 0rem 1rem;
}

/*--------Viajes--------*/

.containerLinkCategoriaViajes{
  flex: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
}

.linkCategoria{
  text-decoration: none;
  width: 270px;
}

.containerCategoria{
  transition: .4s;
}

.containerCategoria:hover{
  transform: scale(1.05);
}

.containerCategoria img{
  width: 270px;
  height: 450px;
  object-fit: cover;
  transition: .4s;
  border-radius: .2rem;
}

.containerCategoria img:hover{
  box-shadow: 0px 0px 15px 10px rgb(15, 15, 15);
}

.nombreCategoria{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5rem;
  height: 2rem;
  width: 270px;
}

.nombreCategoria h5{
  color: white;
  text-align: center;
  font-size: 1.4rem;
}


/*--------Responsive--------*/

@media (max-width: 930px) {

  nav{
    height: 8vh;
  }

  .consulta{
    padding-top: 10vh;
  }

  .textoConsulta{
    margin: .5rem 0rem;
  }

  .btn-menu{
    display: flex;
    margin: 0rem 1rem;
    gap: .5rem;
  }

  nav .ul-desktop{
    display: none;
  }

  .logo{
    flex: 20%;
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: center;
  }

  .logo img{
    width: 100px;
  }

  .navCategorias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: column;
  }

  .navCategorias h1{
    border-right: none;
  }

  .containerBuscadorCategorias{
    display: flex;
    justify-content: center;
    flex: 70%;
    width: 100%;
    margin: 1rem 0rem 0rem;
  }

  .buscadorCategorias{
    width: 70%;
  }

  .btnBuscadorCategorias{
    margin-left: 1rem;
  }

  .containerBuscador{
    display: none;
  }
}

@media (max-width: 800px) {
  .containerFooter{
    flex-direction: column;
    margin-top: 4rem;
  }

  .tituloFooter{
    margin: 2.5rem 0rem 1rem;
  }

  .containerNosotros img{
    width: 487px;
  }

  .containerDatosNosotros{
    height: 30vh;
    margin-top: 10rem;
  }

  .ocultar{
    display: none;
  }

  .containerBuscador{
    display: none;
  }
}

@media (max-width: 500px) {
  .containerCategoria img{
    width: 310px;
    height: 550px;
  }

  .linkCategoria{
    text-decoration: none;
    width: 310px;
  }

  .nombreCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5rem;
    height: 2rem;
    width: 310px;
  }

  .containerNosotros img{
    width: 387px;
  }
}

@media (max-width: 400px) {
  .containerFooter{
    margin-top: 13rem;
  }

  .inputConsultaText{
    width: 300px;
  }

  .inputConsultaEmail{
    width: 300px;
  }
  
  .inputConsultaMsj{
    width: 300px;
  }

  .containerCategoria img{
    width: 280px;
    height: 520px;
  }

  .linkCategoria{
    text-decoration: none;
    width: 280px;
  }

  .nombreCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5rem;
    height: 2rem;
    width: 280px;
  }
}